<?xml version="1.0"?>
<clickhouse>
    <users>
        <!-- Dedicated ingestor user -->
        <asm_ingestor>
            <password>changeme</password>
            <networks>
                <ip>192.168.1.0/24</ip>
                <ip>172.16.0.0/12</ip>
                <ip>127.0.0.1/32</ip>
                <ip>::1/128</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <grants>
                <query>GRANT INSERT, SELECT ON asm_pipeline.*</query>
                <query>GRANT CREATE DATABASE ON *.*</query>
                <query>GRANT CREATE TABLE, DROP TABLE, ALTER TABLE, TRUNCATE ON asm_pipeline.*</query>
            </grants>
        </asm_ingestor>

        <!-- Restrict default user to localhost only -->
        <default>
            <password></password>
            <networks>
                <ip>127.0.0.1/32</ip>
                <ip>::1/128</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <access_management>1</access_management>
        </default>
    </users>
</clickhouse>
